<div class="animated fadeIn">
  <div class="row">
    
    <div class="col-sm-12">
      <div class="card">
          <form [formGroup]="rForm" class="form-horizontal" (ngSubmit)="editAnswer(rForm.value)">
        <div class="card-header">
          <strong>Answer</strong>
          
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="company">Answer <span>*</span></label>
            <input type="text" formControlName="title" class="form-control" id="title" placeholder="Enter answer">
            <div class="text-danger" *ngIf="!rForm.controls['title'].valid && rForm.controls['title'].touched">Please enter answer</div>
          </div>
          

          <div class="form-group">
            <label for="icon_class">Icon Class</label>
            <input type="text" formControlName="icon" class="form-control" id="icon" placeholder="Enter Icon Class">
            
          </div>

          <div class="form-group">
              <label for="icon_class">Image</label>
              <!-- <input type="text"  class="form-control"  placeholder="Enter service name"> -->
              <!-- <input type="file" id="theFileInput" (change)="fileChangeListener($event)" /> -->
              <input type="file" id="theFileInput" />
            </div>

          <div class="form-group">
            <label for="option_price_impact">Price Impact Option</label>
            <select id="option_price_impact" formControlName="option_price_impact" class="form-control">
              <option value="">Please select</option>
              <option *ngFor="let impact of optionList" value="{{impact.value}}">{{impact.value}}</option>              
            </select>
            
            </div>

            <div class="form-group">
              <label for="currencyId">Currency</label>
              <select id="currencyId" formControlName="currencyId" class="form-control">
                <option value="0">Please select</option>
                <option *ngFor="let currency of currencyList" value="{{currency.id}}">{{currency.name}}</option>              
              </select>
              
            </div>
            <div class="form-group">
              <label for="price_impact">Price</label>
              <input type="number" formControlName="price_impact" class="form-control" id="price_impact" placeholder="Enter Cost">
              
            </div>
            <div class="form-group">
              <label for="option_time_impact">Time Impact Option</label>
              <select id="option_time_impact" formControlName="option_time_impact" class="form-control">
                <option value="">Please select</option>
                <option *ngFor="let impact of optionList" value="{{impact.value}}">{{impact.value}}</option>              
              </select>
              
              </div>
  
              
              <div class="form-group">
                <label for="time_impact">Time (Minutes)</label>
                <input type="number" formControlName="time_impact" class="form-control" id="time_impact" placeholder="Enter Time">
                
              </div>
            <div class="form-group">
              <label for="parts">Parts</label>
              <select id="parts" formControlName="parts" class="form-control">
                <option value="">Please select</option>
                <option *ngFor="let parts of partsList" value="{{parts.item}}">{{parts.value}}</option>              
              </select>
              
            </div>
            <div class="form-group">
              <label for="scope">Svope</label>
              <select id="scope" formControlName="scope" class="form-control">
                <option value="">Please select</option>
                <option *ngFor="let scope of scopeList" value="{{scope.item}}">{{scope.value}}</option>              
              </select>
              
            </div>
           
              
           

            
          
                                
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!rForm.valid"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <!-- <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button> -->
        </div>
        </form>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->   
  
</div>


