<div class="animated fadeIn">
    <div class="row">

        <div class="col-sm-12">
            <div class="card">

                <form [formGroup]="rForm" class="form-horizontal" (ngSubmit)="addPromoCode(rForm.value)">
                    <div class="card-header">
                        <strong>Promotion</strong>

                    </div>
                    <div class="card-body">
                        <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
                            {{errorMsg}}
                        </div>
                        <div class="form-group">
                            <label for="company">Promo Code  <span>*</span></label>
                            <input type="text" formControlName="promo_code" class="form-control" id="promo_code" placeholder="Enter Promo Code">
                            <div class="text-danger" *ngIf="!rForm.controls['promo_code'].valid && rForm.controls['promo_code'].touched">Please enter promo code </div>
                            <button type="button" class="btn btn-sm btn-info " style="float:right;padding-top:12px;" (click)="generatePromoCode()"><i class="fa fa-dot-circle-o "></i> Generate Automatically</button>

                        </div>
                        <div class="form-group">
                            <label for="company">Start Date & Time<span>*</span></label>
                            <ngx-datetime-picker class="form-control" formControlName="start_date"></ngx-datetime-picker>
                            <div class=" text-danger " *ngIf="!rForm.controls[ 'start_date'].valid && rForm.controls[ 'start_date'].touched ">Please give start date </div>
                        </div>
                        <div class="form-group">
                            <label for="company">End Date & Time<span>*</span></label>
                            <ngx-datetime-picker class="form-control" formControlName="end_date"></ngx-datetime-picker>
                            <div class=" text-danger " *ngIf="!rForm.controls[ 'end_date'].valid && rForm.controls[ 'end_date'].touched ">Please give end date </div>
                        </div>

                        <div class="form-group">
                            <label for="company">Job Time Range<span>*</span></label>
                            <input type="number" formControlName="jobEstimatedHours" class="form-control" id="jobEstimatedHours" placeholder="Enter Job Range Minutes">
                            <div class="text-danger" *ngIf="!rForm.controls['jobEstimatedHours'].valid && rForm.controls['jobEstimatedHours'].touched">Please enter Job Range Minutes </div>
                        </div>
                        <div class="form-group">
                            <label for="company">Type<span>*</span></label>
                            <select id="direction" formControlName="type" class="form-control">
              <option value="">Please select</option>
             <option value="Discount">Discount</option>
             <option value="Credit">Credit</option>
            </select>
                            <div class="text-danger" *ngIf="!rForm.controls['type'].valid && rForm.controls['type'].touched">Please select type </div>
                        </div>

                        <div class="form-group">
                            <label for="company">Amount<span>*</span></label>
                            <input type="number" formControlName="amount" class="form-control" id="amount" placeholder="Enter Amount">
                            <div class="text-danger" *ngIf="!rForm.controls['amount'].valid && rForm.controls['amount'].touched">Please enter amount </div>
                        </div>
                        <div class="form-group">
                            <label for="company">Priority<span>*</span></label>
                            <input type="number" formControlName="priority" class="form-control" id="priority" placeholder="Enter Priority">
                            <div class="text-danger" *ngIf="!rForm.controls['priority'].valid && rForm.controls['priority'].touched">Please enter priority </div>
                        </div>
                        <div class="form-group ">
                            <label>Is For First Order Only?<span>*</span></label>
                            <div class="checkbox ">
                                <label for="IsFirstOrderOnly ">
                <input type="checkbox" id="IsFirstOrderOnly " name="IsFirstOrderOnly" formControlName="IsFirstOrderOnly" > 
              </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="company">Min Order Amount<span>*</span></label>
                            <input type="number" formControlName="min_order_amount" class="form-control" id="min_order_amount" placeholder="Enter Min Order Amount">
                            <div class="text-danger" *ngIf="!rForm.controls['min_order_amount'].valid && rForm.controls['min_order_amount'].touched">Please enter min order amount </div>
                        </div>
                        <div class="form-group">
                            <label for="company">Max Discount Amount<span>*</span></label>
                            <input type="number" formControlName="max_discount_amount" class="form-control" id="max_discount_amount" placeholder="Enter Max Amount">
                            <div class="text-danger" *ngIf="!rForm.controls['max_discount_amount'].valid && rForm.controls['max_discount_amount'].touched">Please enter max discount amount </div>
                        </div>
                        <div class="form-group">
                            <label for="company">Coupon Count<span>*</span></label>
                            <input type="number" formControlName="coupon_count" class="form-control" id="coupon_count" placeholder="Enter Coupon Count">
                            <div class="text-danger" *ngIf="!rForm.controls['coupon_count'].valid && rForm.controls['coupon_count'].touched">Please enter coupon count </div>
                        </div>
                        <div class="form-group">
                            <label for="company">No of Users<span>*</span></label>
                            <input type="number" formControlName="noOfUses" class="form-control " id="noOfUses " placeholder="Enter No of Users ">
                            <div class="text-danger " *ngIf="!rForm.controls[ 'noOfUses'].valid && rForm.controls[ 'noOfUses'].touched ">Please enter no of uses</div>
                        </div>
                        <div class="form-group ">
                            <label for="company ">Labour<span>*</span></label>
                            <input type="text " formControlName="Labour" class="form-control " id="Labour " placeholder="Enter Labour ">
                            <div class="text-danger " *ngIf="!rForm.controls[ 'Labour'].valid && rForm.controls[ 'Labour'].touched ">Please enter Labour</div>
                        </div>

                    </div>
                    <div class="form-group ">
                        <label for="company ">Select Customer(s)</label>
                        <angular2-multiselect [data]="dropdownList " formControlName="customerIds" [settings]="dropdownSettings " (onSelect)="onItemSelect($event) " (onDeSelect)="OnItemDeSelect($event) " (onSelectAll)="onSelectAll($event)
                                " (onDeSelectAll)="onDeSelectAll($event) "></angular2-multiselect>
                    </div>

                    <div class="form-group ">
                        <label for="company ">Select Services(s)</label>
                        <angular2-multiselect [data]="servicesList " formControlName="serviceIds" [settings]="dropdownSettings1 " (onSelect)="onItemSelect($event) " (onDeSelect)="OnItemDeSelect($event) " (onSelectAll)="onSelectAll($event)
                                " (onDeSelectAll)="onDeSelectAll($event) "></angular2-multiselect>
                    </div>
                    <div class="card-footer ">
                        <button *ngIf="!is_disable " type="submit " class="btn btn-sm btn-primary " [disabled]="!rForm.valid "><i class="fa fa-dot-circle-o "></i> Submit</button>
                        <button *ngIf="is_disable " type="button " class="btn btn-sm btn-primary ">
              <i class="fa fa-fw fa-spin fa-spinner "></i> Saving</button>
                        <button type="button " class="btn btn-sm btn-danger " (click)="goToList() "><i class="fa fa-ban "></i> Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

</div>