<div class="animated fadeIn">
    <div class="row">

        <div class="col-sm-12">
            <div class="card">
                <form [formGroup]="rForm" class="form-horizontal" (ngSubmit)="editFaq(rForm.value)">
                    <div class="card-header">
                        <strong>Faq</strong>

                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="company">Question <span>*</span></label>
                            <input type="text" formControlName="question" class="form-control" id="question" placeholder="Enter question">
                            <div class="text-danger" *ngIf="!rForm.controls['question'].valid && rForm.controls['question'].touched">Please enter question</div>
                        </div>
                        <div class="form-group">
                            <label for="company">Question(For French) <span>*</span></label>
                            <input type="text" formControlName="fr_question" class="form-control" id="fr_question" placeholder="Enter question">
                            <div class="text-danger" *ngIf="!rForm.controls['fr_question'].valid && rForm.controls['fr_question'].touched">Please enter question for french</div>
                        </div>

                        <div class="form-group">
                            <label for="company">Question(For Arabic) <span>*</span></label>
                            <input type="text" formControlName="ar_question" class="form-control" id="ar_question" placeholder="Enter question">
                            <div class="text-danger" *ngIf="!rForm.controls['ar_question'].valid && rForm.controls['ar_question'].touched">Please enter question for arabic</div>
                        </div>
                        <div class="form-group">
                            <label for="company">Title <span>*</span></label>
                            <input type="text" formControlName="title" class="form-control" id="title" placeholder="Enter title">
                            <div class="text-danger" *ngIf="!rForm.controls['title'].valid && rForm.controls['title'].touched">Please enter title</div>
                        </div>
                        <div class="form-group">
                            <label for="company">Title(For French) <span>*</span></label>
                            <input type="text" formControlName="fr_title" class="form-control" id="fr_title" placeholder="Enter title">
                            <div class="text-danger" *ngIf="!rForm.controls['fr_title'].valid && rForm.controls['fr_title'].touched">Please enter title for french</div>
                        </div>
                        <div class="form-group">
                            <label for="company">Title(For Arabic) <span>*</span></label>
                            <input type="text" formControlName="ar_title" class="form-control" id="ar_title" placeholder="Enter title">
                            <div class="text-danger" *ngIf="!rForm.controls['ar_title'].valid && rForm.controls['ar_title'].touched">Please enter title for arabic</div>
                        </div>
                        <!-- <div class="form-group">
            <label for="vat">Answer</label>
            
            <textarea id="answer" formControlName="answer" rows="9" class="form-control" placeholder="Enter answer"></textarea>
            <div class="text-danger" *ngIf="!rForm.controls['answer'].valid && rForm.controls['answer'].touched">Please enter answer</div>
          </div> -->
                        <div class="form-group">
                            <label for="vat">Answer</label>
                            <!-- <div  [froalaEditor]="editorOptions" [(froalaModel)]="content"></div> -->
                            <app-tinymce formControlName="answer" name='answer'></app-tinymce>
                        </div>
                        <div class="form-group">
                            <label for="vat">Answer(For French)</label>
                            <app-tinymce formControlName="fr_answer" name='fr_answer'></app-tinymce>
                        </div>

                        <div class="form-group">
                            <label for="vat">Answer(For Arabic)</label>
                            <app-tinymce formControlName="ar_answer" name='ar_answer'></app-tinymce>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label for="is_active">
                <input type="checkbox" id="is_active"  [checked]="is_active" (change)="changeIsActive($event)"> Is Active
              </label>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary" [disabled]="!rForm.valid"><i class="fa fa-dot-circle-o"></i> Submit</button>
                        <button type="button" class="btn btn-sm btn-danger" (click)="goToList()"><i class="fa fa-ban"></i> Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

</div>