<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Job List
                </div>
                <div>
                    <span style="font-weight:bold;padding-left:12px">*Note</span>
                </div>
                <div>
                    <ul>
                        <li>P - JOB POSTED</li>
                        <li>A - JOB ACCEPTED</li>
                        <li>O - KREW ON THE WAY</li>
                        <li>S - JOB STARTED</li>
                        <li>F- JOB FOLLOWED UP</li>
                        <li>JC- JOB COMPLETED</li>
                        <li>CL- JOB CANCELLED</li>
                        <li>C- JOB CLOSED</li>

                    </ul>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Service</th>
                                <th>Customer</th>
                                <th>Customer Email </th>
                                <th>Worker</th>
                                <th>Worker Email </th>
                                <th>Status</th>
                                <th>Posted Date</th>
                                <th>Price</th>
                                <th>Assign</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let job of jobList">
                                <td>{{job.service.name}}</td>
                                <td *ngIf="job.customer">{{job.customer.name}}</td>
                                <td *ngIf="!job.customer">N/A</td>
                                <td *ngIf="job.customer">
                                    <a href="mailto:">{{ job.customer.email }}</a>
                                </td>
                                <td *ngIf="!job.customer">N/A</td>
                                <td *ngIf="job.worker">{{job.worker.name}}</td>
                                <td *ngIf="!job.worker">N/A</td>
                                <td *ngIf="job.worker">
                                    <a href="mailto:">{{ job.worker.email }}</a>
                                </td>
                                <td *ngIf="!job.worker">N/A</td>
                                <td>{{job.status1}}</td>
                                <td>{{job.postedDate | date}}</td>
                                <td *ngIf="!job.currency">{{job.price |currency}}</td>
                                <td *ngIf="job.currency">{{job.price |currency:job.currency.name}}</td>
                                <td *ngIf="job.status1=='S' && !is_disabled"> <button type="button" class="btn btn-info" data-toggle="modal" (click)="openModal(largeModal, job)">
                        <i class="fa fa-tasks"></i></button></td>
                                <td *ngIf="job.status1=='S' && is_disabled"> <button type="button" class="btn btn-info">
                        <i class="fa fa-fw fa-spin fa-spinner"></i></button></td>
                                <td *ngIf="job.status1 !='S'">N/A</td>
                                <td>
                                    <button type="button" [disabled]="is_disabled" class="btn btn-info" (click)="goToDetails(job)">
                        <i class="fa fa-info-circle"></i></button>
                                    <button type="button" [disabled]="is_disabled" class="btn btn-danger" (click)="deleteJob(job.id)">
                    <i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>


<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Assign Job</h4>
                <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Is Available? </th>
                            <th>Assign</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let worker of availableWorkerList">
                            <td>{{worker.name}}</td>
                            <td><a href="mailto:">{{ worker.email }}</a></td>
                            <td>{{worker.IsAvailable==true?'Available':'Not Available'}}</td>
                            <td *ngIf="worker.IsAvailable==true">
                                <button type="button" *ngIf="!isAssigning" class="btn btn-info" (click)="assignJob(largeModal,worker)">
                        <i class="fa fa-tasks"></i> Assign Job</button>
                                <button type="button" class="btn btn-info" *ngIf="isAssigning">
                        <i class="fa fa-fw fa-spin fa-spinner"></i> Assigning</button>
                            </td>
                            <td *ngIf="worker.IsAvailable==false">
                                N/A
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>


            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>