<div class="animated fadeIn">
    <div class="main_section">
        <div class="container">
            <div class="chat_container">
                <div class="alert alert-danger" *ngIf="errorMessage">
                    {{errorMessage}}
                </div>
                <div class="row">
                    <div class="col-sm-3 chat_sidebar">
                        <div class="row">
                            <div id="custom-search-input">
                            </div>
                            <div class="dropdown all_conversation">
                                All Conversation
                            </div>
                            <div class="member_list" *ngIf="chatList">
                                <ul class="list-unstyled" *ngFor="let chat of chatList; let i = index">
                                    <li class="left clearfix" (click)="openChat(chat)">
                                        <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                                        <div class="chat-body clearfix">
                                            <div class="header_sec">
                                                <strong class="primary-font">{{chat.customerName}}</strong> <strong class="pull-right">
                           {{chat.date | date}}</strong>
                                            </div>
                                            <div class="contact_sec">
                                                <strong class="primary-font">(123) 123-456</strong> <span class="badge pull-right">3</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--chat_sidebar-->


                    <div class="col-sm-9 message_section" *ngIf="IsShowChatSection">
                        <div class="row">
                            <!-- <div class="new_message_head">
                                <div class="pull-left"><button><i class="fa fa-plus-square-o" aria-hidden="true"></i> New Message</button></div>
                            </div> -->
                            <!--new_message_head-->

                            <div class="chat_area" *ngIf="IsShowChatSection && specificChatList">
                                <ul class="list-unstyled" *ngFor="let chat of specificChatList; let i = index">
                                    <li class="left clearfix" *ngIf="chat.IsAdminSender==false">
                                        <span class="chat-img1 pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                                        <div class="chat-body1 clearfix">
                                            <p *ngIf="chat.Message">{{chat.Message}}</p>
                                            <div *ngIf="chat.MessageImage">
                                                <Img [src]="chat.MessageImage" />
                                            </div>
                                            <div class="chat_time pull-right">{{chat.date |date}}</div>
                                        </div>
                                    </li>


                                    <li class="left clearfix admin_chat" *ngIf="chat.IsAdminSender==true">
                                        <span class="chat-img1 pull-right">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                                        <div class="chat-body1 clearfix">
                                            <p *ngIf="chat.Message">{{chat.Message}}</p>
                                            <div *ngIf="chat.MessageImage">
                                                <Img [src]="chat.MessageImage" />
                                            </div>
                                            <div class="chat_time pull-left">{{chat.date |date}}</div>
                                        </div>
                                    </li>





                                </ul>
                            </div>
                            <!--chat_area-->
                            <div class="message_write" *ngIf="IsShowChatSection">
                                <textarea class="form-control" placeholder="Type a message" [(ngModel)]="message"></textarea>
                                <div class="clearfix"></div>
                                <div class="chat_bottom"><a href="#" class="pull-left upload_btn"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
 Add Files</a>
                                    <a href="javascript:void(0)" class="pull-right btn btn-success" (click)="sendMessage()">
 Send</a></div>
                            </div>
                        </div>
                    </div>
                    <!--message_section-->
                </div>

            </div>
        </div>
    </div>
    <!--/.row-->
</div>