<div class="animated fadeIn">  
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> CMS List            
         <span style="float:right"><a [routerLink]="['/cms/add']" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp; ADD</a></span>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Title</th>
                <th>Content</th>                                 
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cms of cmsList">
                
                <td>{{cms.title}}</td>
                <td>{{cms.content}}</td>                               
                <td>
          <a [routerLink]="['/cms/edit',cms.id]" class="btn btn-success"><i class="fa fa-magic"></i>&nbsp; Edit</a>
          <button type="button" class="btn btn-danger" (click)="deleteCms(cms.id)"><i class="fa fa-rss"></i>&nbsp; Delete</button>
                </td>
              </tr>               
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
