<div class="animated fadeIn">
  <div class="row">
    
    <div class="col-sm-12">
      <div class="card">
          <form [formGroup]="rForm" class="form-horizontal" (ngSubmit)="editZone(rForm.value)">
        <div class="card-header">
          <strong>Zone</strong>
          
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="Zone">Zone</label>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter zone name">
            <div class="text-danger" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">Please enter zone name</div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <!-- <input type="text" formControlName="content" class="form-control" id="content" placeholder="Enter content"> -->
            <textarea id="description" formControlName="description" rows="9" class="form-control" placeholder="Enter description"></textarea>
            
          </div>
          
          <ngui-map *ngIf="!editMode" zoom="8" [center]="firstCord">
            <polygon [editable]="false"
            [paths]="selectedZone"
            ></polygon>
          </ngui-map>

          <ngui-map [class]="editClass" zoom="8" [center]="currentCord">
            <drawing-manager
            [drawingMode]="'polygon'"
            [drawingControl]="true"
            [drawingControlOptions]="{
              position: 2,
              drawingModes: [ 'polygon']
             }"
            [circleOptions]="{
              fillColor: '#ffff00',
              fillOpacity: 1,
              strokeWeight: 5,
              editable: true,
              zIndex: 1
            }"></drawing-manager>
          </ngui-map>   
          <button type="button" class="btn btn-sm btn-primary" (click)="toggleEditMode()"><i class="fa fa-dot-circle-o"></i> Edit Map</button>
                          
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!rForm.valid"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <!-- <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button> -->
        </div>
        </form>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->   
  
</div>
