<div class="animated fadeIn">
    <div class="row">

        <div class="col-sm-12">
            <div class="card">
                <form [formGroup]="rForm" class="form-horizontal" (ngSubmit)="editWorker(rForm.value)">
                    <div class="card-header">
                        <strong>Worker</strong>

                    </div>
                    <div class="card-body">
                        <div class="alert alert-danger" *ngIf="error">
                            {{error}}
                        </div>
                        <div class="alert alert-success" *ngIf="success">
                            {{success}}
                        </div>
                        <div class="form-group">
                            <label for="company">Name <span>*</span></label>
                            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter worker name">
                            <div class="text-danger" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">Please enter name</div>
                        </div>
                        <div class="form-group">
                            <label for="vat">Email <span>*</span></label>
                            <input type="email" [readonly]="true" formControlName="email" class="form-control" id="email" placeholder="Enter worker email">
                            <div class="text-danger" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">Please enter email</div>
                        </div>
                        <div class="form-group">
                            <label for="vat">Password <span>*</span></label>
                            <input type="password" id="newPassword" class="form-control" placeholder="Enter new Password" *ngIf="IsChangePassShow">
                            <button type="button" class="btn btn-sm btn-primary" (click)="changePassword()" *ngIf="!IsChangeDisabled && !IsChangePassShow"><i class="fa fa-dot-circle-o"></i> Change Password</button>
                            <button type="button" class="btn btn-sm btn-primary" (click)="resetPassword()" *ngIf="IsResetPassword"><i class="fa fa-dot-circle-o"></i> Change Password</button>
                            <button type="button" class="btn btn-sm btn-primary" *ngIf="IsShowSpinner"><i class="fa fa-fw fa-spin fa-spinner"></i></button>
                        </div>
                        <!-- <div class="form-group">
                            <label for="street">Username <span>*</span></label>
                            <input type="text" [readonly]="true" formControlName="username" class="form-control" id="username" placeholder="Enter Username">
                           
                        </div> -->

                        <div class="form-group">
                            <label for="street">Phone <span>*</span></label>
                            <input type="number" myNumberOnly formControlName="phone" class="form-control" id="phone" placeholder="Enter worker phone">
                            <div class="text-danger" *ngIf="!rForm.controls['phone'].valid && rForm.controls['phone'].touched">Please enter phone</div>
                        </div>
                        <div class="form-group">
                            <label for="commission">Commission
                <span>*</span>
              </label>
                            <input type="number" myNumberOnly formControlName="commission" class="form-control" id="commission" placeholder="Enter Commission Charge">
                            <div class="text-danger" *ngIf="!rForm.controls['commission'].valid && rForm.controls['commission'].touched">Please enter commission charge</div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label for="is_active">
                <input type="checkbox" id="is_active"  [checked]="is_active" (change)="changeIsActive($event)"> Is Active
              </label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary" [disabled]="!rForm.valid"><i class="fa fa-dot-circle-o"></i> Submit</button>
                        <button type="button" class="btn btn-sm btn-danger" (click)="goToList()"><i class="fa fa-ban"></i> Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

</div>