<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                    <div class="btn-group float-right" dropdown="">
                        <button class="btn btn-transparent dropdown-toggle p-0" (click)="showWorkerActive()" dropdowntoggle="" type="button" aria-haspopup="true" aria-expanded="false">
              <i class="icon-settings"></i>
            </button>


                        <div class="dropdown-menu" id="activeWorkerDropdown">
                            <a class="dropdown-item" href="javascript:void(0)" (click)="filterActiveWorkersCount()">{{IsFilter?'Total Workers':'Total Active'}}</a>
                            <a class="dropdown-item" [routerLink]="['/worker']">Go To Worker</a>
                        </div>
                    </div>
                    <h4 class="mb-0">{{countDetails.workersCount}}</h4>
                    <p>Total Workers</p>


                </div>
            </div>


        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                    <div class="btn-group float-right" dropdown="">
                        <button class="btn btn-transparent" type="button" (click)="showCustomerActive()">
              <i class="icon-settings"></i>
            </button>

                        <div class="dropdown-menu" id="activeCustomerDropdown">
                            <a class="dropdown-item" href="javascript:void(0)" (click)="filterActiveCustomersCount()">{{IsFilterCustomer?'Total Customers':'Total Active'}}</a>
                            <a class="dropdown-item" [routerLink]="['/customers']">Go To Customer</a>
                        </div>
                    </div>
                    <h4 class="mb-0">{{countDetails.customerCount}}</h4>
                    <p>Total Customer</p>
                </div>
            </div>


        </div>


        <div class="col-sm-6 col-lg-3">
            <a [routerLink]="['/job']">
                <div class="card text-white bg-primary">
                    <div class="card-body pb-0">
                        <div class="btn-group float-right" dropdown="">
                            <button class="btn btn-transparent" type="button">
              <i class="icon-settings"></i>
            </button>

                            <div class="dropdown-menu dropdown-menu-right" style="left: auto; right: 0px; top: 100%; transform: translateY(0px);">
                                <a class="dropdown-item" href="javascript:void(0)">Total Active</a>
                            </div>
                        </div>
                        <h4 class="mb-0">{{countDetails.jobCount}}</h4>
                        <p>Total Jobs</p>
                    </div>
                </div>
            </a>

        </div>


    </div>




    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Dashboard
                </div>
                <div class="card-body">
                    <fusioncharts [id]="id" [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource"></fusioncharts>
                    <!-- 

                    <br>
                    <div class="table-responsive"></div>
                    <h6>Coming soon.</h6>
                    <table class="table table-responsive table-hover table-outline mb-0">
                        <thead class="thead-default">
                            <tr>
                                <th class="text-center"><i class="icon-people"></i></th>
                                <th>User</th>
                                <th class="text-center">Payment Method</th>
                                <th>Activity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    <div class="avatar">
                                        <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/1.jpg">
                                        <span class="avatar-status badge-success"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>Yiorgos Avraamu</div>
                                    <div class="small text-muted">
                                        <span>New</span> | Registered: Jan 1, 2015
                                    </div>
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-cc-mastercard" style="font-size:24px"></i>
                                </td>
                                <td>
                                    <div class="small text-muted">Last login</div>
                                    <strong>10 sec ago</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table> -->
                </div>
            </div>
        </div>

    </div>

</div>