<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="col-sm-12">
                <div class="card">
                    <div class="alert alert-danger" *ngIf="errorMessage">
                        {{errorMessage}}
                    </div>

                    <div class="alert alert-success" *ngIf="successMessage">
                        {{successMessage}}
                    </div>
                    <form [formGroup]="rForm" class="form-horizontal" (ngSubmit)="editAgent(rForm.value)">
                        <div class="card-header">
                            <strong>Profile</strong>

                        </div>
                        <div class="card-body">
                            <div *ngIf="IsResetPassword==false">
                                <div class="form-group">
                                    <label for="company">Name <span>*</span></label>
                                    <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter  name">
                                    <div class="text-danger" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">Please enter name</div>
                                </div>
                                <div class="form-group">
                                    <label for="vat">Email <span>*</span></label>
                                    <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter  email">
                                    <div class="text-danger" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">Please enter email</div>
                                </div>

                                <div class="form-group">
                                    <label for="vat">Password <span>*</span></label>
                                    <button type="button" class="btn btn-sm btn-primary" (click)="emailCheck()"><i class="fa fa-lock"></i> Change Password</button>
                                </div>
                                <div class="form-group">
                                    <label for="street">Phone <span>*</span></label>
                                    <input type="number" formControlName="phone" class="form-control" id="phone" placeholder="Enter  phone">
                                    <div class="text-danger" *ngIf="!rForm.controls['phone'].valid && rForm.controls['phone'].touched">Please enter phone</div>
                                </div>
                                <div class="form-group">
                                    <label for="icon_class">Image</label>
                                    <div *ngIf="userDetails && userDetails.image">
                                        <img [src]="userDetails.image" />
                                    </div>
                                    <input type="file" accept="image/*" id="theFileInput" (change)="fileChangeListener($event)" />

                                </div>
                                <div class="form-group" *ngIf="IsShow">
                                    <label for="street">Role <span>*</span></label>
                                    <select id="option_price_impact" [attr.disabled]="controlEnabled" (change)="onRoleChange($event.target.value)" formControlName="role" class="form-control">
              <option value="">Please select</option>
              <option *ngFor="let item of roleTypeLit" value="{{item.id}}">{{item.name}}</option>              
            </select>
                                </div>

                                <div class="form-group" *ngIf="IsShow">
                                    <div class="checkbox">
                                        <label for="is_active">
                <input type="checkbox" id="is_active" [attr.disabled]="controlEnabled"   [checked]="is_active" (change)="changeIsActive($event)"> Is Active
              </label>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div *ngIf="IsResetPassword && IsOtpChecking==false">
                            <div class="form-group">
                                <label for="street">Email <span>*</span></label>
                                <input type="email" formControlName="resetEmail" class="form-control" id="resetEmail" placeholder="Enter email">
                                <div class="text-danger" *ngIf="!rForm.controls['resetEmail'].valid && rForm.controls['resetEmail'].touched">Please enter email</div>
                            </div>
                        </div>
                        <div *ngIf="IsResetPassword && IsOtpChecking==true">
                            <div class="form-group">
                                <label for="street">Otp <span>*</span></label>
                                <input type="text" formControlName="otp" class="form-control" id="otp" placeholder="Enter otp">
                                <div class="text-danger" *ngIf="!rForm.controls['otp'].valid && rForm.controls['otp'].touched">Please enter otp</div>
                            </div>
                            <div class="form-group">
                                <label for="street">Password <span>*</span></label>
                                <input type="password" formControlName="password" class="form-control" id="password" placeholder="Enter password">
                                <div class="text-danger" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">Please enter password</div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" *ngIf="!is_disable" class="btn btn-sm btn-primary" [disabled]="!rForm.valid"><i class="fa fa-dot-circle-o"></i> Submit</button>
                            <button type="button" *ngIf="is_disable" class="btn btn-sm btn-primary"><i class="fa fa-fw fa-spin fa-spinner"></i> Saving</button>
                            <button type="button" class="btn btn-sm btn-danger" (click)="goToList()"><i class="fa fa-ban"></i> Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>