<div class="animated fadeIn">
  <div class="row">
    
    <div class="col-sm-12">
      <div class="card">
          <form [formGroup]="rForm" class="form-horizontal" (ngSubmit)="editCurrency(rForm.value)">
        <div class="card-header">
          <strong>Currency</strong>
          
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="name">Currency</label>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter currency">
            <div class="text-danger" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">Please enter currency</div>
          </div>         
                                
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!rForm.valid"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <!-- <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button> -->
        </div>
        </form>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->   
  
</div>
